<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #563d7c;">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/laptop.png" width="35" height="35" class="d-inline-block align-top space" alt="">
    <b>OnlineStore</b>
  </a>
  <button type="button" *ngIf="isInSession == true" (click)="products()" class="btn btn-outline-light button-size space">Products</button>
  <button type="button" *ngIf="isInSession == true" (click)="brand()" class="btn btn-outline-light button-size space">Brand</button>
  <button type="button" *ngIf="isInSession == true" (click)="category()" class="btn btn-outline-light button-size space">Category</button>
  <button type="button" *ngIf="isInSession == true" (click)="inventory()" class="btn btn-outline-light button-size space">Inventory</button>
  <button type="button" *ngIf="isInSession == true" (click)="promotion()" class="btn btn-outline-light button-size space">Promotion</button>
  <button type="button" *ngIf="isInSession == true" (click)="clients()" class="btn btn-outline-light button-size space">Regular client</button>
</nav>
<router-outlet></router-outlet>
