<body>
    <h1 class="title">Products</h1>
    <form [formGroup]="addForm" (ngSubmit)="add()">
        <input type="text" formControlName="name" class="formInputs" placeholder="Product name">
        <input type="text" formControlName="description" class="formInputs" placeholder="Description">
        <input type="text" formControlName="image" class="formInputs" placeholder="Image URL">
        <input type="text" formControlName="precio" class="formInputs" placeholder="Price">
        <input type="text" formControlName="brandId" class="formInputs" placeholder="BrandId">
        <input type="text" formControlName="categorysId" class="formInputs" placeholder="CategorysId">
        <button class="buttonCreate formInputs" type="submit">Create</button>
        <div>
            <label for="client"><b>Insert client to buy: </b></label>
            <input id="client" formControlName="client" type="text" class="clientInput" placeholder="Client">
        </div>
    </form>
    <!--<div *ngFor="let item of getListData" class="justify-content-center container col-md-4 col-sm-6">
        <div class="input-field col s12">
            <label>Origin:</label>
            <select [(ngModel)]="brandSelected" [ngModelOptions]="{standalone: true}" class="button-size">
                <option *ngFor="let d of brand[item] | ObjToArray" [value]="d.id">
                    {{d.webSite}}
                </option>
            </select>
        </div>
    </div>-->
    
    <div *ngFor="let item of getListData" class="justify-content-center container col-md-4 col-sm-6">
        <div *ngFor="let p of product[item]" class="card p-3 bg-white space">
            <div class="about-product text-center mt-2"><img src="{{p.image}}" width="300px" height="300px">
                <div>
                    <h4>{{p.name}}</h4>
                    #ID: <b>{{p.id}}</b>
                </div>
            </div>
            <div class="stats mt-2">
                <div class="d-flex justify-content-between p-price"><span>{{p.description}}</span></div>
                <div class="d-flex justify-content-between p-price"><b>Brand</b><span>{{p.brandId}}</span></div>
                <div class="d-flex justify-content-between p-price"><b>Category</b><span>{{p.categorysId}}</span></div>
            </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4"><b>Price</b><b>${{p.precio}}</b></div>
            <button type="button" class="button" (click)="sale(p.id)">Buy now</button>
            <button type="button" class="buttonUpdate" (click)="update(p.id)">Update</button>
            <button type="button" class="buttonDelete" (click)="delete(p.id, p.name)">Delete</button>
        </div>
    </div>
</body>
