<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="body-title">
            <h1 class="title">Brands</h1>
        </div>
        <form [formGroup]="addForm" (ngSubmit)="add()">
            <input type="text" formControlName="name" class="formInputs" placeholder="Name">
            <input type="text" formControlName="webSite" class="formInputs" placeholder="Web Site">
            <button class="buttonCreate formInputs" type="submit">Create</button>
        </form>
        <div *ngFor="let item of getListBrand" class="justify-content-center container col-md-4 col-sm-6">
            <div *ngFor="let p of brandAll[item]" class="card p-3 bg-white space">
                <div class="stats mt-2">
                    <div class=""><span><h4>{{p.name}}</h4></span></div>
                    <div class=""><span>#ID: <b>{{p.id}}</b></span></div>
                    <div class="d-flex justify-content-between p-price"><span><a href={{p.webSite}}>{{p.webSite}}</a></span></div>
                    <button type="button" class="buttonUpdate" (click)="update(p.id)">Update</button>
                    <button type="button" class="buttonDelete" (click)="delete(p.id, p.name)">Delete</button>
                </div>
            </div>
        </div>
    </body>
</html>